annexe/annexe-webapp/src/main/resources/wsdl/gestionpret.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://gestionpret.ws.vianney.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="GestionPretService" targetNamespace="http://gestionpret.ws.vianney.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://gestionpret.ws.vianney.com/" elementFormDefault="unqualified" targetNamespace="http://gestionpret.ws.vianney.com/" version="1.0">

  <xs:element name="addPret" type="tns:addPret"/>

  <xs:element name="addPretResponse" type="tns:addPretResponse"/>

  <xs:element name="getListPretByUser" type="tns:getListPretByUser"/>

  <xs:element name="getListPretByUserResponse" type="tns:getListPretByUserResponse"/>

  <xs:element name="getPretByID" type="tns:getPretByID"/>

  <xs:element name="getPretByIDResponse" type="tns:getPretByIDResponse"/>

  <xs:element name="updatePret" type="tns:updatePret"/>

  <xs:element name="updatePretResponse" type="tns:updatePretResponse"/>

  <xs:complexType name="getPretByID">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getPretByIDResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:Pret"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Pret">
    <xs:sequence>
      <xs:element minOccurs="0" name="date_debut" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="date_fin" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="ouvrage" type="tns:Ouvrage"/>
      <xs:element name="prolongation" type="xs:boolean"/>
      <xs:element minOccurs="0" name="status" type="tns:Status"/>
      <xs:element minOccurs="0" name="utilisateur" type="tns:Utilisateur"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Ouvrage">
    <xs:sequence>
      <xs:element minOccurs="0" name="editeur" type="tns:Editeur"/>
      <xs:element minOccurs="0" name="exemplaire" type="xs:int"/>
      <xs:element name="ISBN" type="xs:long"/>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="langue" type="tns:Langue"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="listAuteur" nillable="true" type="tns:Auteur"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="listGenre" nillable="true" type="tns:Genre"/>
      <xs:element minOccurs="0" name="photos" type="xs:string"/>
      <xs:element minOccurs="0" name="resume" type="xs:string"/>
      <xs:element minOccurs="0" name="titre" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Editeur">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="nom" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Langue">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:string"/>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="langue" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Auteur">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="nom" type="xs:string"/>
      <xs:element minOccurs="0" name="prenom" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Genre">
    <xs:sequence>
      <xs:element minOccurs="0" name="genre" type="xs:string"/>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Status">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="status" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Utilisateur">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="mail" type="xs:string"/>
      <xs:element minOccurs="0" name="nom" type="xs:string"/>
      <xs:element minOccurs="0" name="password" type="xs:string"/>
      <xs:element minOccurs="0" name="prenom" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updatePret">
    <xs:sequence>
      <xs:element minOccurs="0" name="pret" type="tns:Pret"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updatePretResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getListPretByUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="utilisateur" type="tns:Utilisateur"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getListPretByUserResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:Pret"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addPret">
    <xs:sequence>
      <xs:element minOccurs="0" name="pret" type="tns:Pret"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addPretResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="getPretByID">
    <wsdl:part element="tns:getPretByID" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPretByIDResponse">
    <wsdl:part element="tns:getPretByIDResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getListPretByUser">
    <wsdl:part element="tns:getListPretByUser" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addPret">
    <wsdl:part element="tns:addPret" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updatePretResponse">
    <wsdl:part element="tns:updatePretResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addPretResponse">
    <wsdl:part element="tns:addPretResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updatePret">
    <wsdl:part element="tns:updatePret" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getListPretByUserResponse">
    <wsdl:part element="tns:getListPretByUserResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="GestionPret">
    <wsdl:operation name="getPretByID">
      <wsdl:input message="tns:getPretByID" name="getPretByID">
    </wsdl:input>
      <wsdl:output message="tns:getPretByIDResponse" name="getPretByIDResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatePret">
      <wsdl:input message="tns:updatePret" name="updatePret">
    </wsdl:input>
      <wsdl:output message="tns:updatePretResponse" name="updatePretResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListPretByUser">
      <wsdl:input message="tns:getListPretByUser" name="getListPretByUser">
    </wsdl:input>
      <wsdl:output message="tns:getListPretByUserResponse" name="getListPretByUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addPret">
      <wsdl:input message="tns:addPret" name="addPret">
    </wsdl:input>
      <wsdl:output message="tns:addPretResponse" name="addPretResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GestionPretServiceSoapBinding" type="tns:GestionPret">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getPretByID">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getPretByID">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPretByIDResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatePret">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updatePret">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updatePretResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListPretByUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getListPretByUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getListPretByUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addPret">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addPret">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addPretResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GestionPretService">
    <wsdl:port binding="tns:GestionPretServiceSoapBinding" name="GestionPretPort">
      <soap:address location="http://localhost:8080/bibliotheque-webapp/services/gestionpret"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>