annexe/annexe-webapp/src/main/resources/wsdl/gestionouvrage.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://gestionouvrage.ws.vianney.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="GestionOuvrageService" targetNamespace="http://gestionouvrage.ws.vianney.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://gestionouvrage.ws.vianney.com/" elementFormDefault="unqualified" targetNamespace="http://gestionouvrage.ws.vianney.com/" version="1.0">

  <xs:element name="getListOuvrage" type="tns:getListOuvrage"/>

  <xs:element name="getListOuvrageResponse" type="tns:getListOuvrageResponse"/>

  <xs:element name="getOuvrageByID" type="tns:getOuvrageByID"/>

  <xs:element name="getOuvrageByIDResponse" type="tns:getOuvrageByIDResponse"/>

  <xs:complexType name="getOuvrageByID">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getOuvrageByIDResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:Ouvrage"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Ouvrage">
    <xs:sequence>
      <xs:element minOccurs="0" name="editeur" type="tns:Editeur"/>
      <xs:element minOccurs="0" name="exemplaire" type="xs:int"/>
      <xs:element name="ISBN" type="xs:long"/>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="langue" type="tns:Langue"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="listAuteur" nillable="true" type="tns:Auteur"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="listGenre" nillable="true" type="tns:Genre"/>
      <xs:element minOccurs="0" name="photos" type="xs:string"/>
      <xs:element minOccurs="0" name="resume" type="xs:string"/>
      <xs:element minOccurs="0" name="titre" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Editeur">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="nom" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Langue">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:string"/>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="langue" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Auteur">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="nom" type="xs:string"/>
      <xs:element minOccurs="0" name="prenom" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Genre">
    <xs:sequence>
      <xs:element minOccurs="0" name="genre" type="xs:string"/>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getListOuvrage">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getListOuvrageResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:Ouvrage"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="getListOuvrage">
    <wsdl:part element="tns:getListOuvrage" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getOuvrageByID">
    <wsdl:part element="tns:getOuvrageByID" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getListOuvrageResponse">
    <wsdl:part element="tns:getListOuvrageResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getOuvrageByIDResponse">
    <wsdl:part element="tns:getOuvrageByIDResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="GestionOuvrage">
    <wsdl:operation name="getOuvrageByID">
      <wsdl:input message="tns:getOuvrageByID" name="getOuvrageByID">
    </wsdl:input>
      <wsdl:output message="tns:getOuvrageByIDResponse" name="getOuvrageByIDResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListOuvrage">
      <wsdl:input message="tns:getListOuvrage" name="getListOuvrage">
    </wsdl:input>
      <wsdl:output message="tns:getListOuvrageResponse" name="getListOuvrageResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GestionOuvrageServiceSoapBinding" type="tns:GestionOuvrage">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getOuvrageByID">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getOuvrageByID">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getOuvrageByIDResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListOuvrage">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getListOuvrage">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getListOuvrageResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GestionOuvrageService">
    <wsdl:port binding="tns:GestionOuvrageServiceSoapBinding" name="GestionOuvragePort">
      <soap:address location="http://localhost:8080/bibliotheque-webapp/services/gestionouvrage"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>